<div class="main">
    <div class="container">
        <h1 style="color: rgb(235, 68, 30); font-family: 'Gotu', serif;">Mind Reader</h1>
        <br>
        <input (input)="readNo($event)" placeholder="Choose a number within 1-10" style="height: 40px;width: 200px;border-radius: 8px;" >
        <h1 style="color:rgb(245, 35, 199);font-size: 26px;font-family: 'Gotu', serif;">{{choosen}}</h1>
        <p style="color: blueviolet;font-family: 'Gotu', serif;">{{result}}</p>
    </div>
</div>
