@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Noto+Sans+Telugu:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+NZ+Guides&display=swap');
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(71, 189, 28);
}
h2{
font-family: "Gotu", serif;
}