.firstpart{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    color: #424242;
}
#firstparth1{
    display: block;
    font-family: "Inter",serif;
    font-size: 2.75rem;
    line-height: 1.25;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
}
#firstpartp{
    color: #424242;
    text-align: center;
    font-size: 1.25rem;
    font-family: "Inter"sans-serif;
    font-family:Arial, Helvetica, sans-serif;
 
}
#signupbtn{
    background-color: #387ed1;
    color: #fff;
    margin-top: 25px;
    cursor: pointer;
    font-family: "Inter"sans-serif;
   padding: 10px 30px 10px 30px;
   font-size: 22px;
   border: 1px solid rgba(0, 0, 0, 0);
  
}
#signupbtn:hover{
    background-color:black
}
.secondpart{
display: flex;
padding: 40px 80px;
font-family: sans-serif;
color: #424242;
align-items: center;
}
h3{
    line-height: 1.6;
}
#newsimg{
    display: block;
    margin: auto;
}
.thirdpart{
    display: flex;
    flex-direction: column;
    padding: 0px 60px;
    color: #424242;
    font-family: sans-serif;
}
.pricing{
    display: flex;
}
#price{
    display: flex;
    align-items: center;
}
#link{
    text-decoration: none;
    font-size: 20px;
}
.fourthpart{
    color: #424242;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#varsity{
    width: 40%;
}
a{
    text-decoration: none;
}
.fifthpart{
    color: #424242;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}