<div class="firstpart">
    <img [src]="main" alt="" class="src" width="620">
    <h1 id="firstparth1">Invest in everything</h1>
    <p id="firstpartp">Online platform to invest in stocks, derivatives, mutual funds, ETFs, bonds, and more.</p>
    <button id="signupbtn">Sign up for free </button>
</div>
<div class="secondpart">
    <div>
        <h1>Trust with confidence</h1>
        <h3>Customer-first always</h3>
        <p id="preid">That's why 1.5+ crore customers trust Zerodha with
            ₹4.5+ lakh crores of equity investments and contribute to
            15% of daily retail exchange volumes in India.</p>
        <h3>No spam or gimmicks</h3>
        <p id="preid">No gimmicks, spam, "gamification", or annoying push
            notifications. High quality apps that you use at your
            pace, the way you like.</p>
        <h3>The Zerodha universe</h3>
        <p id="preid">Not just an app, but a whole ecosystem. Our investments
            in 30+ fintech startups offer you tailored services
            specific to your needs.</p>
        <h3>Do better with money</h3>
        <p id="preid">With initiatives like Nudge and Kill Switch, we don't just
            facilitate transactions, but actively help you do better
            with your money.</p>
    </div>
    <div>
        <img [src]="ecosystem" width="650" alt="" class="src">
    </div>

</div>
<img id="newsimg" [src]="presslogos" alt="" class="src">
<div class="thirdpart">
    <h1>Unbeatable pricing
    </h1>
    <div class="pricing">
        <p>We pioneered the concept of discount broking and price transparency in India. Flat fees and no hidden
            charges.
        </p>
        <div id="price">
            <img [src]="zero" alt="" class="src" width="100">
            <span>Free account
                opening</span>

            <img [src]="zero" alt="" class="src" width="100">
            <span>Free equity delivery
                and direct mutual funds</span>

            <img [src]="twenty" alt="" class="src" width="100">
            <span>Intraday and
                F&O</span>
        </div>
    </div>
<a id="link" href="#">See Pricing -></a>
</div>